aiohttp==3.7.3
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
chicken==0.1.0
click==7.1.2
colorama==0.4.4
cryptography==3.2.1
cycler==0.10.0
decorator==4.4.2
Django==3.1
egg==0.2.0
ffmpeg==1.4
future==0.18.2
gcloud==0.18.3
geocoder==1.38.1
github.py==0.5.0
googleapis-common-protos==1.52.0
gunicorn==19.10.0
httplib2==0.18.1
idna==2.10
iniconfig==1.1.1
isort==5.6.4
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.3.3
mccabe==0.6.1
module==0.0.4
multidict==5.1.0
musicbrainzngs==0.7.1
mypy==0.790
mypy-extensions==0.4.3
numpy==1.23.4
oauth2client==4.1.3
opencv-python==4.5.1.48
packaging==20.4
pandas==1.5.1
paypalrestsdk==1.13.1
Pillow==8.0.1
pluggy==0.13.1
protobuf==3.13.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.7.1
pylint==2.6.0
PyMySQL==0.10.1
pyodbc==4.0.30
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.1
qrcode==7.3.1
ratelim==0.1.6
requests==2.24.0
rsa==4.6
sendgrid==1.6.22
six==1.15.0
smtpapi==0.3.1
sqlparse==0.3.1
toml==0.10.2
twilio==6.44.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
wfastcgi==3.0.0
wrapt==1.12.1
yarl==1.6.3
